body{
    font-family: 'Redressed', cursive;
    margin: 0px;
    
}
ul{
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    overflow: hidden;
    background-color:rgb(92, 161, 200);
}
  
li {
    float: right;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
h1{
    font-size: 50px;
}
.first-name {
    color: rgba(7, 37, 92, 0.87);
}
.second-name{
    color:rgb(194, 93, 20);
}
h2{
    font-size: 50px;
}
p{
    color: dimgray;

}

.half-width
{
    width: 40%;
    float:left;
    margin-left: 5%;
    padding-left: 2%;
    margin: 1%;

}
.half-width img {
    width: 80%;
   
}
.top-banner
{
    
    
    background-repeat: no-repeat;
}
section{
    height: 500px;
}
.link-button
{
    text-decoration: none;
    background-image: linear-gradient(360deg,lightsalmon,tomato);
    padding:10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}


.experience-area
{
    
    margin-top: 10%;
    padding-top: 2%;
    background-color: blanchedalmond;
}
.experience-name{
    text-align: center;
}
.chalak
{
    
    width: 25%;
    float:left;
    margin-left: 5%;
    padding-left: 2%;
    

}
.chalak img {
    width: 75%;
}
#another-web{
    border-left: 7px solid;
    border-image:  linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
}
#full-stack {
    border-left: 7px solid;
    border-image:  linear-gradient(45deg,lightsalmon,tomato);
    border-image-slice: 1;

}
#baby-web {
    border-left: 7px solid;
    border-image:  linear-gradient(360deg,white,black);
    border-image-slice: 1;

}
.pera-area{
    margin-top: 200px;
    margin-left: 15%;
    margin-right: 15%;
    background-image: url(images/bg.png);
    height: 300px;
    background-repeat: no-repeat;
    border-radius: 10%;
}
.pera-area h3 {
    padding-top: 150px;
    padding-left: 100px;
    text-align: left;
    font-size: x-large;
}

.pera-area a {
    text-decoration: none;
    background-image: linear-gradient(360deg,lightsalmon,tomato);
    padding:10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    margin-left: 700px;
    text-align: right;
    
}
footer{
    background-color: white;
    margin: 10px;
    height: 110px;
    clear: both;
    text-align: center;
    color: rgb(194, 21, 179);
    padding:10px;
    margin-bottom: 20px;
}

footer h3 {  
    font-size: 40px;
}

footer h4 { 
    font-size: 30px;
}
footer img{
    padding:0px;
    width: 60px;
    text-decoration: none;
}